body{
    font-family: 'Bryant Pro';

    h2{
        text-transform: uppercase;
    }
}

@font-face {
    font-family: 'Bryant Pro';
    src: url('/app/themes/teascompany-2021/resources/assets/fonts/BryantPro-Medium.woff2') format('woff2'),
        url('/app/themes/teascompany-2021/resources/assets/fonts/BryantPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}